<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uber Eats Simulation - Home</title>
</head>
<body>
    <h1>¡Bienvenido al simulador de Uber Eats!</h1>
</body>
</html>